@import "tailwindcss";

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --radius-2: 2px;
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;

}

.radius-2 {
    border-radius: var(--radius-2xl);
}
html {
    font: 16px;
}
body {
    background-color: hsl(120, 2%, 17%);
}